<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tax change Visualization</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "/polls/css/main.css" %}"/>
        <link rel='stylesheet' href={{cdn_css|safe}} type="text/css"/>
        <script type="text/javascript" src={{cdn_js|safe}}></script>

        <link
          href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
          rel="stylesheet" type="text/css">
        <link
          href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
          rel="stylesheet" type="text/css">

        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
    </head>
    <body>
      <!-- <h3> I am a heading</h3> -->
      {{div|safe}}
      {{js|safe}}
      <!-- <p> I am a paragraph </p> -->
    </body>
</html>
